body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #2d3c49;
}

header, article, #items {
    display: flex;
    flex-wrap: wrap;
}

header, article figcaption {
    text-transform: uppercase;
}

#logo {
    text-align: left;
    width: 50%;
}

#logo img {
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
}

#title {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#title h1, #title h3 {
    width: 100%;
    margin: 0;
}

#title h1 {
    font-size: 50px;
}

#title h3 {
    font-size: 24px;
}

header {
    border-bottom: 2px solid #7d97ad;
    padding-bottom: 1em;
    text-align: right;
}

#cover img {
    max-width: 100%;
    height: 500px;
}

#items img {
    width: 370px;
    height: 250px;
}

#items h2 {
    color: #7d97ad;
    width: 100%;
}